/*resources/scss/app.scss*/
@import "~bootstrap/scss/bootstrap";
@import './partials/variables';
@import "@fortawesome/fontawesome-free/css/all.css";

body {
    background-color: white;
}

header {
    background-color: $bg_header;
    color: $white;

    a {
        text-decoration: none;
        color: $white;
        font-size: 0.8rem;
    }

    img {
        height: 1.5rem;
    }

    button {
        color: $white;
        background-color: $bg_header;
    }

}

footer {
    color: $white;
    background-color: $bg_footer;

    .left {

        li {
            padding-right: 0.5rem;
        }
    }
    .right {
        
        max-width: fit-content;

        li {
            padding-left: 0.5rem;
        }

    }

    p {
        font-size: 0.8rem;
        font-weight: 600;
    }

    li {
        list-style-type: none;

        a {
            font-size: 0.7rem;
        }

        img {
            filter: invert(100%);
        }
    }

}